*{
    margin:0;
    padding:0;
    box-sizing: 0;
}
body {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color:black;
}
li {
    list-style: none;
}
header {
    width: 100vw;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo-img img {
    height: 70px;
    margin-left:20px;
}
/* Menu */
.nav-container {
    width: 100vw;
    position: absolute;
    left:0;
    top:-100%;
    transition: 300ms all ease;
}

/* ------------Show Menu----------- */
.nav-container-show {
    display: block !important;
    position: absolute;
    left:0;
    top:10%;
    transition: 300ms all ease;
    background-color: rgba(243, 243, 243, 0.884);
    width: 100vw;
    z-index: 99;
}
.nav-container-show ul{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.nav-container-show ul li {
    padding: 20px;
    width: 100vw;
    text-align: center;
}
.nav-container-show ul li:hover{
    background-color: rgba(120, 170, 166, 0.432);
    transition: 300ms all;
}
/* -------------- Mode ---------------------- */
.mode-container button{
    border:none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
.mode-container {
    position: relative;
}
.mode-text {
    transition: 200ms all;
}
.light-mode-hide {
    visibility: hidden !important;
}
.dark-mode {
    visibility: hidden;
}
.dark-mode-show {
    visibility: visible !important;
}


/* --------------Hamburger Menu-------------- */
.open-menu {
    display: block;
  height: 26px;
  width: 28px;
  margin-right: 3%;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
#line {
    display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;

}
/* After Click Bar */
.l-1 {
    transform: rotateZ(45deg);
    transform-origin: -5%;
}
.l-3 {
    transform: rotateZ(-45deg);
    transform-origin: -5%;
}
.l-2 {
    display: none !important;
}

/* Section */
.main-section{
    height: 100vh;
    width: 100vw;
}
.main-img {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/artist-2.jpeg);
    background-size: cover;
    background-position: center;
}
.main-title {
    position: absolute;
    top:20%;
    left: 35%;
}
.main-title h3 {
    font-size: 52px;
    color:whitesmoke;
    font-weight: 100;
    text-transform: uppercase;
}
footer {
    width: 100vw;
    height: 20vh;
    margin-top: 10px;
}
.footer-container ul {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
